.wave1 {
    position: absolute;
    top: 14rem;
    z-index: -1;
}

.wave2 {
    position: absolute;
    top: 32rem;
    z-index: -2;
}

@media screen and (min-width: 768px) {
    .wave1 {

    }
}
